<p>home works!</p>
<div style="text-align: left;">
        
    <label style="text-align: left; margin-top: 2em;">Username : </label>
    <input type="text" class="form-control me-1" id="username" #username value="ABC">
</div>

<div style="text-align: left;">
    
    <label style="text-align: left; margin-top: 2em;">Password : </label>
    <input type="text" class="form-control me-1" id="password" #password value="123">
</div>
<div>
    <button type="button" (click)="onLogin(username, password)">Login</button>
</div>